.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: orchid;
    color: white;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin-top: 30px;
}

.gc1, .gdt {
    height: 80%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.gc1 {
    width: 30vw;
}

.gc1b {
    width : 60vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.gdt {
    width: 60vw;
    height: 80vh;
    text-align: left;
    background-color: #FFE4C4;
}

.c1Tag, .c1Sel{
    display: flex;
    width: 23vw;
    height: 7vh;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    margin: 7px;
    font-size: 17px;
}

.c1Tag:hover, .c1Tag:active, .c1Sel {
    background-color: #F08080;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 0px;
}

.detail img {
    width: 600px;
    height: 350px;
}

ul > li {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 3px;
}

.galTitle {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #F08080;
}

.galPhotographyLocation {
    font-size: 20px;
    font-weight: bold;
}

.galPhotographer, .galPhotographyMonth {
    font-size: 17px;
    font-weight: bold;
}