.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.mydiv1, .mydiv2 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.mydiv1 {
    width: 30vw;
    background-color: rgb(192, 237, 255);
}

.mydiv2 {
    width: 70vw;
}

.div11, .div21 {
    width: 80%;
    border: 2px solid gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div11 > p, .div21 > p {
    color: blue;
}

.divbt {
    margin-top: 10px;
}

.divbt > button, .divbt > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}